<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.moviezip.dao.mybatis.mapper.TheaterMapper">
    <cache />

    <select id="getTheaterByLocation" resultType="Theater">
        SELECT *
        FROM THEATER
        WHERE LOCATION = #{location}
    </select>

    <select id="getScreeningDetails" parameterType="map" resultType="ScreenDetail">
        SELECT
            sc.SCREEN_NAME AS screenName,
            sc.SEAT_NUM AS seats,
            st.STARTTIME AS startTime,
            st.ENDTIME AS endTime,
            st.SCREENTIMEID AS timeId,
            st.LEFT_SEAT AS remainingSeats
        FROM
            SCREENTIME st
                JOIN
            SCREENS sc ON st.SCREEN_ID = sc.SCREEN_ID
                JOIN
            THEATER th ON sc.THEATER_ID = th.THEATERID
                JOIN
            MOVIE mv ON st.MOVIE_ID = mv.MOVIE_ID
        WHERE
            mv.MOVIE_ID = #{movieId}
          AND st.SCREEN_DATE = TO_DATE(#{screenDate}, 'YYYY-MM-DD')
          AND th.THEATERNAME = #{theaterName}
    </select>
</mapper>
